.navbar-flat {
  background: #fff;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);

  .navbar-nav > li > a {
    padding: 17px;
    color: #777;
    text-transform: uppercase;
    transition: color .3s;

    &:hover,
    &:focus {
      color: #ddd;
      background: transparent;
    }
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: static;
  }

  .navbar-flat {
    .navbar-nav {
      margin: 0;

      > li {
        float: left;
      }
    }

    .navbar-right {
      float: right;
    }
  }
}
