h1.heading-stroked David Kosub

p Welcome to my web portfolio! I am a full stack engineer based out of San Antonio. My hobbies outside of work activites are running, studying orbital mechanics and other types of physics, and spending time with my dog and two cats.

.row.row-pets
  .col-xs-3
    img.img-circle.img-responsive(src="/img/pets/delilah.jpg", alt="Delilah", tooltip="Delilah")
  .col-xs-3
    img.img-circle.img-responsive(src="/img/pets/bean.jpg", alt="Bean", tooltip="Bean")
  .col-xs-3
    img.img-circle.img-responsive(src="/img/pets/feral-cat.jpg", alt="Feral Cat", tooltip="Feral Cat")


p Most of my time is dedicated toward programming front-ends in Javascript, but I have become quite proficient with Node.js in my day-to-day work. I am always eager to learn new things, whether it be a new web technology or bettering my understanding of orbital mechanics. I love to learn and try my absolute best to improve whenever possible.
p You can find out more about me professionally by checking out my <a href="#/resume">resume</a> or my <a href="#/portfolio">web portfolio</a>. At this time I do not have a blog of any sort, but I do eventually plan to start writing about technical hurdles I have overcome or anything else about the industry. In the meantime feel free to check me out on <a href="https://github.com/Tape" target="_blank">GitHub</a>!
