h1.heading-stroked Web Portfolio

.row.row-portfolio
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://www.trytoninsurance.com/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/tryton.jpg", alt="Tryton Insurance Group")
            span.portfolio-image-overlay Static HTML
          | Tryton Insurance Group
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://www.pronoteinc.com/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/pronote.jpg", alt="Pronnote Inc.")
            span.portfolio-image-overlay Static HTML
          | Pronote Inc.
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://hsds.org/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/houston-swing-dance-society.jpg", alt="Houston Swing Dance Society")
            span.portfolio-image-overlay Joomla
          | Houston Swing Dance Society
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://www.frankiemanningfoundation.org/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/frankie-manning-foundation.jpg", alt="Frankie Manning Foundation")
            span.portfolio-image-overlay Joomla
          | Frankie Manning Foundation
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://lindyfest.hsds.org/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/lindyfest.jpg", alt="Lindyfest")
            span.portfolio-image-overlay Joomla
          | Lindyfest
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://www.w-dentistry.com/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/w-dentistry.jpg", alt="Woo Dentistry")
            span.portfolio-image-overlay Joomla
          | Woo Dentistry
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://weddingdancehouston.com/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/wedding-dance-houston.jpg", alt="Wedding Dance Houston")
            span.portfolio-image-overlay Static HTML
          | Wedding Dance Houston
  .col-xs-6.col-sm-4
    .panel.panel-material
      .panel-body
        a(href="http://dancehouston.org/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/dance-houston.jpg", alt="Dance Houston")
            span.portfolio-image-overlay Joomla
          | Dance Houston
  .col-xs-6.col-sm-4.col-xs-offset-3.col-sm-offset-0
    .panel.panel-material
      .panel-body
        a(href="http://www.borderlinesingers.com/", target="_blank")
          span.portfolio-image-frame
            img.img-responsive(src="/img/portfolio/borderline-singers.jpg", alt="Borderline Singers")
            span.portfolio-image-overlay Joomla
          | Borderline Singers
