h3.heading-stroked Education
p 2008-2010 - Associate of Science, Computer Science - Northwest Vista College
p 2010-2012 - Bachelor of Science, Computer Science - University of Texas at San Antonio

h3.heading-stroked Language Proficiency
table.table.table-language
  tbody
    tr
      th HTML
      td: progressbar(value="95")
    tr
      th CSS
      td: progressbar(value="95")
    tr
      th Javascript
      td: progressbar(value="90")
    tr
      th PHP
      td: progressbar(value="75")
    tr
      th Java
      td: progressbar(value="60")
    tr
      th SQL
      td: progressbar(value="60")
    tr
      th C
      td: progressbar(value="40")
    tr
      th C++
      td: progressbar(value="40")
    tr
      th Python
      td: progressbar(value="40")

h3.heading-stroked Work History
table.table.table-history
  tbody
    tr
      td.company
        p Mar 2015 - Present<br>
          | <strong>Real Patient Ratings</strong><br>
          | San Antonio, TX
      td.description
        h5: strong Lead Product Engineer
        p I develop new products for the company as well as maintain and extend the functionality of both the existing website and customer portal.

        h5: strong Achievements
        ul
          li Designed and rolled out a consolidated survey platform to significantly increase productivity within the company.
    tr
      td.company
        p Jan 2012 - Mar 2015<br>
          | <strong>Cattura Video</strong><br>
          | San Antonio, TX
      td.description
        h5: strong Web Developer (2012-2013), Lead Web Developer (2013-Present)
        p Lead the development of the three primary web products for the company: the customer portal, the hardware web user interface, and the Learning Engine media management portal.

        h5: strong Achievements
        ul
          li Rolled out a Node.js and PostgreSQL media management portal that utilizes the LTI standard to interface with many LMS platforms (Blackboard, Moodle, Sakai, etc.) and is powered by Google Apps for Education and/or Vimeo. Designed to be scalable from the ground up using Amazon Elastic Compute Cloud and Virtual Private Cloud. Powered by an Angularjs front-end.
          li Spearheaded the revamp of the hardware user interface by migrating towards a Knockout.js and Bootstrap stack for significantly faster productivity and extensibility. Lead a small team of two developers to help execute the development of the project.
          li Extended the customer portal’s PHP stack to handle customer logins across all consumer products (desktop software, hardware, Learning Engine) and provide desktop capture software versioning and custom parameters.
          li Coordinated integrations with partner companies using HTML5 players and RESTful APIs for media enrichment.
    tr
      td.company
        p Feb 2010 - Sept 2011
          | <strong>Strategic Edge</strong><br>
          | Edmonds, WA
      td.description
        h5: strong Web Developer
        p Worked as a web and PHP application developer, managing regular updates on approximately 200 websites and maintaining the integrity and development of several web applications. Constructed approximately thirteen websites powered by Joomla.

        h5: strong Achievements
        ul
          li Served as the lead developer for the before and after photo and medical procedure information gallery project (PHP, MYSQL), which is the company’s leading product featured on 175+ websites.
          li Converted approximately 160 websites from Coldfusion to PHP.
          li Developed a system for site optimization to improve SEO and reduce page load times.
